<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
</head>
<body>
<h2>Product List</h2>
<ul>
    <li th:each="product : ${products}" th:text="${product.getName()}"></li>
</ul>

<h2>Categories List</h2>
<ul>
    <li th:each="c : ${categories}" th:text="${c.getName()}"></li>
</ul>

<h2>Product Count by Category</h2>
<table>
    <tr>
        <th>Category</th>
        <th>Category name</th>
        <th>Quantity product</th>

    </tr>
    <tr th:each="start: ${productStats}">
        <td th:text="${start[0]}"></td>
        <td th:text="${start[1]}"></td>
        <td th:text="${start[2]}"></td>
    </tr>
</table>

</body>
</html>
